<header class="header">
    <div class="header__logo">
        <span><svg class="icon icon-embed2"><use xlink:href="/icons/symbol-defs.svg#icon-embed2"></use></svg></span>
        JavaScript Quizzes
    </div>
    <div class="nav">
        <a href="#" class="nav__item">Login</a>
        <a href="#" class="nav__item">Register</a>
    </div>
</header>