<header class="header">
    <div class="header__logo">
        <span><svg class="icon icon-embed2"><use xlink:href="/icons/symbol-defs.svg#icon-embed2"></use></svg></span>
        JavaScript Quizzes
    </div>
    <div class="nav">
        <% if(!userLoggedIn){ %>
        <a href="/user/login" class="nav__item">Login</a>
        <a href="/user/register" class="nav__item">Register</a>
        <% }else{ %>
        <a href="/user/logout" class="nav__item">Logout</a>
        <% } %>
    </div>
</header>