<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="application-name" content="JavaScript Quizzes"/>
    <meta name="description" content="JavaScript Quiz Site"/>
    <meta name="keywords" content="quizzes, quiz, javascript"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title><%= title %></title>
</head>