<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/headerNav.ejs') %>
        <div class="hero">
            <div class="hero__content">
                <p class="hero__heading">Can You Do It?</p>
                <p class="hero__description">Complete these JavaScript quizzes to test your mastery!</p>
                <a class="hero__btn">Start Here &rarr;</a>
            </div>
        </div>
    </body>
</html>