<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/headerNav.ejs') %>
        <div class="notFound">
            <h1>Oops...</h1>
            <p>The page you are looking for cannot be found!</p>
        </div>
    </body>
</html>