<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/headerNav.ejs') %>
        <main class="p20">
            <form class="register-form">
                <h1>Register</h1>
                <div class="form-group">
                    <label for="name" class="label">Name</label>
                    <input id="name" class="text-input" type="text" maxlength="50"/>
                </div>
                <div class="form-group">
                    <label for="email" class="label">Email</label>
                    <input id="email" class="text-input" type="email" maxlength="100"/>
                </div>
                <div class="form-group">
                    <label for="password" class="label">Password</label>
                    <input id="password" class="text-input" type="password" maxlength="20"/>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="label">Confirm Password</label>
                    <input id="confirmPassword" class="text-input" type="password" maxlength="20"/>
                </div>
                <button type="submit" id="subbut" class="btn btn--primary">Sign Up</button>
                <div class="errbox" id="errbox"></div>
            </form>
        </main>
    </body>
    <script type="text/javascript" src="/js/register.bundle.js"></script>
</html>